@font-face {
    font-family: 'Neue Montreal';
    src: url(neue_montreal_font/NeueMontreal-Regular.otf) format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url(neue_montreal_font/NeueMontreal-Medium.otf) format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url(neue_montreal_font/NeueMontreal-Bold.otf) format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url(neue_montreal_font/NeueMontreal-Light.otf) format('opentype');
    font-weight: 300;
}

:root {
    --clr-primary: #0B0B0B;

    --bg-primary: #F9F9F9;
}

* {
    margin: 0;
    padding: 0;
    color: var(--clr-primary);
    font-family: 'Neue Montreal', sans-serif;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

::before, ::after {
box-sizing: border-box;
}

html, body {
    width: 100%;
    background-color: var(--bg-primary);    
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.5rem;
}

button {
    cursor: pointer;
}

li {
    list-style: none;
    /* text-align: center; */
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100svh;
    justify-content: space-between;
    gap: 1rem;
}

header .nav_div {
    display: flex;
    width: 90%;
    height: 6.25rem;
    justify-content: space-between;
    align-items: center;
    margin-right: 5%;
    margin-left: 5%;
}

.mobile_nav_div {
    display: none;
}

.logo {
    display: flex;
    gap: 1rem;
}

.primary_nav ul {
    display: flex;
    gap: 2rem;
}

.primary_nav ul li a {
    color: #677680;
    font-size: 1rem;
    padding: 0.7rem 1rem;
    transition: text-decoration 500ms;

    &:hover {
        text-decoration: underline;
        color: #627EEA;
    }
}

.secondary_nav a {
    width: max-content;
    font-size: 1rem;
    padding: 0.7rem 1.2rem;
    color: #677680;
    background-color: rgba(98, 126, 234, 0.10);
    border-radius: 100vh;
    transition: background-color 500ms;
    white-space: nowrap;
    
    &:hover {
        background-color: rgba(44, 179, 133, 0.08);
    }
}

.hero_section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%; 
    padding: 2rem 0;   
    justify-content: center;
    align-items: center;
}

.hero_section > p:nth-child(1) {
    color: #2CB385;
    font-size: 0.8rem;
    width: max-content;
    background-color: rgba(44, 179, 133, 0.08);
    padding: 0.7rem 1.2rem;
    border-radius: 100vh;
}

.hero_section h1 {
    font-size: 3.6rem;
    width: 60rem;
    text-align: center;
    line-height: 5rem;
    font-weight: 500;
}

.hero_section  .second_p {
    width: 45rem;
    font-size: 1.5rem;
    color: #868591;
    text-align: center;
    line-height: 2.2rem;
}

.hero_section .quick_buttons {
    display: flex;
    gap: 3rem;
    margin-top: 1rem;
}

.quick_buttons button {
    width: 11rem;
    height: 3rem;
    padding: 0 1rem;
    border-radius: 100vh;
    font-size: 1rem;
    border: none;
}

.quick_buttons button:first-child {
    background-color: #627EEA;
    color: #FFFFFF;
    border: 2px solid #627EEA;
    transition: all 500ms;

    &:hover {
        background-color: #4264ee;
        border: 2px solid #4264ee;
        transform: translate(0.5rem, -0.5rem);
    }
}

.quick_buttons button:last-child {
    background-color: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    transition: border 200ms, transform 500ms;

    &:hover {
        border: 2px solid #4264ee;
        transform: translate(0.5rem, -0.5rem);
    }
}

.quick_buttons button:last-child::before {
    content: ' ';
    width: 2rem;
    height: 2rem;
    background-image: url(icons/play_icon.svg);
    background-color: rgba(98, 126, 234, 0.10);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;

}

.map {
    display: block;
    width: 100%;
    height: 25rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    gap: 3rem;
    width: 100%;
}

main .features_section {
    display: flex;
    width: 90%;
    margin: 0 5%;
    background-color: #FFFFFF;
    padding: 3rem;
    border-radius: 1rem;
    justify-content: space-between;
    gap: 3rem;
}

.features_section .first_child {
    display: flex;
    flex-direction: column;
    width: 30rem;
    gap: 2rem;
    position: relative;
}

.features_section .first_child h2 {
    font-size: 2.3rem;
    font-weight: 500;
}

.features_section .first_child p {
    font-size: 1.3rem;
    color: #606060;
}

.features_section .first_child button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 13rem;
    height: 3rem;
    padding: 0 1rem;
    border-radius: 100vh;
    font-size: 1rem;
    border: none;
    background-color: #627EEA;
    color: #FFFFFF;
    transition: all 500ms;
    position: absolute;
    bottom: 0;

    &:hover {
        background-color: #4264ee;
        transform: translate(0.5rem, -0.5rem);
    }
}

.features_section .first_child button::after {
    content: ' ';
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(icons/carbon_arrow_up.svg);
    /* position: absolute;
    right: 0; */
}

.features_section .second_child {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    width: 50%;
    gap: 3rem;
}

.features_section .second_child div {
    display: block;
    width: 100%;
}

.features_section .second_child div img {
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: rgba(98, 126, 234, 0.10);
    margin-bottom: 1rem;
}

.features_section .second_child div h3 {
    font-size: 1.3rem;
    font-weight: 500;
    color: #627EEA;
    margin-bottom: 1rem;
}

.features_section .second_child div p {
    font-size: 1rem;
    color: #606060;
}

main .second_section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5rem 0;
    gap: 4rem;
}

main .second_section .global_reach,
main .second_section .global_scaling {
    display: flex;
    width: 80%;
    margin: 0 10%;
    padding-bottom: 3rem;
    justify-content: space-between;
    gap: 5rem;
}

.global_reach p:first-child,
.global_scaling p:first-child {
    color: #2CB385;
    font-size: 0.8rem;
    width: max-content;
    background-color: rgba(44, 179, 133, 0.08);
    padding: 0.7rem 1.2rem;
    border-radius: 100vh;
}

.global_reach img,
.global_scaling img {
    width: 36rem;
    height: 27rem;
}
/* 
.grow_big {
    animation: growBig 1000ms ease-out;
}

@keyframes growBig {
    from {
        width: 26rem;
        height: 17rem;
    }

    to {
        width: 36rem;
        height: 27rem;
    }
} */

.global_reach div,
.global_scaling div {
    display: flex;
    flex-direction: column;
    width: 30rem;
    gap: 2rem;
    position: relative;
    justify-content: center;
}

.global_reach div h2,
.global_scaling div h2 {
    font-size: 2.3rem;
    font-weight: 500;
}

.global_reach div p,
.global_scaling div p {
    font-size: 1.3rem;
    color: #606060;
}

.global_reach div button,
.global_scaling div button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 13rem;
    height: 3rem;
    padding: 0 1rem;
    border-radius: 100vh;
    font-size: 1rem;
    border: 2px solid #627EEA;
    background-color: #F9F9F9;
    color: #627EEA;
    transition: all 500ms;

    &:hover {
        transform: translate(0.5rem, -0.5rem);
    }
}

.global_reach div button::after,
.global_scaling div button::after {
    content: ' ';
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(icons/carbon_arrow_up.svg);
    filter: brightness(0) saturate(100%) invert(30%) sepia(84%) saturate(1843%) hue-rotate(219deg) brightness(96%) contrast(95%);
}

.faq_section {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 2rem;
    background-color: #FFFFFF;
    padding-top: 5rem;
    padding-bottom: 15rem;
}

.faq_section .first_child {
    color: #2CB385;
    font-size: 0.8rem;
    width: max-content;
    background-color: rgba(44, 179, 133, 0.08);
    padding: 0.7rem 1.2rem;
    border-radius: 100vh;
}

.faq_section h2 {
    font-size: 2.3rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.faq_section .accordion {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50rem;
}

.accordion_item {
    width: 100%;
    border: 2px solid #DCDCDC;
    border-radius: 1rem;
    overflow: hidden;
    /* @supports (overflow: clip) {
        overflow: clip;
    } */
}

.accordion_item h3 {
    display: flex;
    width: 98%;
    height: 4rem;
    color: #606060;
    align-items: center;
    position: relative;
}

.accordion_item h3::after {
    content: ' ';
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(icons/arrow_down.svg);
    background-position: center;
    position: absolute;
    right: 0;
}

.accordion_trigger {
    width: inherit;
    height: inherit;
    font-size: 1.2rem;
    color: #606060 !important;
    border: none;
    background-color: #FFFFFF;
    padding: 1rem;
    border-radius: 1rem 1rem 0 0;
    font-weight: 500;

}

.accordion_item .faq_answer {
    display: none;
    width: 100%;
    border-left: 2px solid #627EEA;
    border-top: 2px solid #DCDCDC;
    padding: 1rem;
    font-size: 1rem;
    animation: show_paragrage 500ms ease-out;
}

.show_faq_answer {
    display: block !important;
}

@keyframes show_paragrage {
    from {
        transform: translateY(-1rem);
        opacity: 0.7;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

footer {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 100%;
    position: relative;
    border-top: 2px solid #DCDCDC;
}


footer .global_connection {
    display: block;
    width: 90%;
    height: 20rem;
    margin: 0 5%;
    background-color: #627EEA;
    border-radius: 1rem;
    position: absolute;
    top: -10rem;
    overflow: hidden;
    /* @supports (overflow: clip) {
        overflow: clip;
    } */
}

.global_connection::after {
    content: ' ';
    width: 50rem;
    height: 100%;
    background-image: url(images/map2.svg);
    position: absolute;
    top: 0;
    right: -14.5rem;
}

.global_connection div {
    display: block;
    width: max-content;
    height: inherit;
    position: inherit;
    top: 0;
    left: 0;
    padding: 2rem;
}

.global_connection h2 {
    font-size: 2.3rem;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 1.5rem;
}

.global_connection p {
    font-size: 1rem;
    color: #FFFFFF;
    margin-bottom: 3rem;
}

.global_connection button {
    font-size: 1rem;
    color: #627EEA;
    width: max-content;
    padding: 0.7rem 1rem;
    border: none;
    border-radius: 100vh;
    transition: all 500ms;

    &:hover {
        transform: translate(0.5rem, -0.5rem);
    }
}

.second_ftr_div {
    display: flex;
    width: 90%;
    margin: 5rem 5%;
    position: relative;
    top: 10rem;
    justify-content: space-between;
}

.second_ftr_div .first_child {
    display: flex;
    flex-direction: column;
    width: 22rem;
    justify-content: space-between;
    gap: 1rem;
    /* margin-bottom: 5rem; */
}

.second_ftr_div .first_child .social_div {
    display: flex;
    width: 22rem;
    height: 3rem;
    align-items: center;
    gap: 2rem;
}

.second_ftr_div .first_child .social_div a {
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid #DCDCDC;
    padding: 0.65rem;
    border-radius: 100vh;
    transition: border 300ms;

    &:hover {
        border: 2px solid #627EEA;
    }
}

.second_ftr_div .first_child .social_div a i {
    color: #627EEA;
    border-radius: 100vh;
}

.second_ftr_div .first_child .email_div {
    display: flex;
    width: 100%;
    height: 3.5rem;
    align-items: center;
    justify-content: space-between;
    border-radius: 100vh;
    padding: 0 0.5rem;
    background-color: rgba(221, 221, 221, 0.30);
}

.second_ftr_div .first_child .email_div input {
    border: none;
    width: 60%;
    background-color: unset;
    border-radius: inherit;
    padding: 1rem;

    &::placeholder {
        color: rgba(96, 96, 96, 0.50);
        font-size: 0.8rem;
    }
}

.second_ftr_div .first_child .email_div button {
    width: max-content;
    height: 3rem;
    border: none;
    color: #FFFFFF;
    background-color: #627EEA;
    padding: 0 1rem;
    border-radius: 100vh;
    transition: background-color 500ms;

    &:hover {
        background-color: #4264ee;
    }
}

.second_ftr_div .first_child p {
    font-size: 0.8rem;
    color: #606060;
    width: 20rem;
}

.second_ftr_div .second_child {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
}

.second_ftr_div .second_child div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: max-content;
}

.second_ftr_div .second_child div h4 {
    font-size: 1rem;
    color: #627EEA;
    font-weight: 400;
}

.second_ftr_div .second_child div ul {
    line-height: 2.5rem;
}

.second_ftr_div .second_child div ul li:hover {
    transform: translateX(0.8rem);
    transition:  all 500ms;

}

.second_ftr_div .second_child div ul li a {
    padding: 0.5rem 0.5rem 0.5rem 0;
    color: #606060;
    font-size: 1rem;
    
    &:hover {
        color: #627EEA;
        text-decoration: underline;
    }
}

footer .third_ftr_div {
    display: flex;
    width: 90%;
    margin: 0 5%;
    position: relative;
    top: 5rem;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-top: 2px solid #DCDCDC;
}

.third_ftr_div .copyright {
    display: flex;
    gap: 1rem;
    align-items: center;
    color: #606060;
    font-size: 0.8rem;
}

.third_ftr_div .copyright .individuals {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.third_ftr_div .copyright .individuals a {
    color: #606060;

    &:hover {
        text-decoration: underline;
        color: #627EEA;
    }
}

.third_ftr_div .terms {
    color: #606060;
    font-size: 0.8rem;

    &:hover {
        text-decoration: underline;
        color: #627EEA;
    }
}

/* responsiveness */
    @media screen and (max-width: 1024px) {
        header .nav_div {
            display: none;
        }

        header .mobile_nav_div {
            display: flex;
            width: 90%;
            height: 6.25rem;
            justify-content: space-between;
            align-items: center;
            margin-right: 5%;
            margin-left: 5%;
            position: relative;
        }

        .mobile_nav_div .header_nav {
            display: none;
            flex-direction: column;
            position: absolute;
            min-height: 100svh;
            width: 70%;
            background-color: #FFFFFF;
            top: 0;
            right: -5%;
            align-items: center;
            padding-top: 7rem;
            border-radius: 2rem 0 0 2rem;
            gap: 4rem;
            z-index: 1;
            animation: show_nav 500ms ease-out;
        }

        .show_header_nav {
            display: flex !important;
        }

        @keyframes show_nav {
            from {
                transform: translateX(2rem);
            }

            to {
                transform: translateX(0);
            }
        }

        .primary_nav ul {
            display: flex;
            flex-direction: column;
        }

        /* burger menu */
        .burger {
            display: flex;
            flex-direction: column;
            height: max-content;
            width: max-content;
            gap: 0.5rem;
            z-index: 2;
        }

        .burger_line {
            width: 4rem;
            height: 0.5rem;
            background-color: #627EEA;
            border-radius: 100vh;
            transition: all 500ms ease-out;
        }

        .burger_line1 {
            transform: rotate(45deg) translateY(0.7rem);
        }

        .burger_line2 {
            display: none;
        }

        .burger_line3 {
            transform: rotate(-45deg) translateY(-0.7rem);
        }
        
        .hero_section h1 {
            font-size: 3rem;
            width: 50rem;
        }
        
        .hero_section  .second_p {
            width: 38rem;
            font-size: 1.3rem;
        }
        
        main .features_section {
            display: flex;
            flex-direction: column;
            /* justify-content: space-between; */
            align-items: center;
            gap: 3rem;
        }
        
        .features_section .first_child {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .features_section .first_child h2 {
            text-align: center;
        }

        .features_section .first_child p {
            text-align: center;
        }

        .features_section .first_child button {
            position: unset;
        }

        .features_section .second_child {
            width: 100%;
            gap: 2rem;
        }

        .features_section .second_child div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .features_section .second_child div p {
            text-align: center;
        }
        
        main .second_section .global_reach,
        main .second_section .global_scaling {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .global_reach div,
        .global_scaling div {
            align-items: center;
        }

        .global_reach div h2,
        .global_scaling div h2 {
            text-align: center;
        }
        .global_reach div p,
        .global_scaling div p {
            text-align: center;
        }

        .faq_section .accordion {
            width: 45rem;
        }

        .second_ftr_div {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4rem;
        }

        .second_ftr_div .first_child {
            display: flex;
            align-items: center;
            gap: 2rem;
        }

        .second_ftr_div .first_child .social_div {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .second_ftr_div .first_child p {
            text-align: center;
        }
        
    }

    @media screen and (max-width: 768px) {

        .hero_section h1 {
            font-size: 2rem;
            width: 32rem;
            line-height: 4rem;
        }
        
        .hero_section  .second_p {
            width: 30rem;
            font-size: 1rem;
        }

        .map {
            display: block;
            width: 100%;
            height: 20rem;
        }

        .features_section .first_child h2 {
            font-size: 1.5rem;
        }

        .features_section .first_child p {
            font-size: 1rem;
            width: 28rem;
        }

        .features_section .second_child {
            gap: 2rem;
        }

        .features_section .second_child div h3 {
            font-size: 1.2rem;
        }

        .features_section .second_child div p {
            font-size: 1rem;
        }

        .global_reach div,
        .global_scaling div {
            width: 28rem;
        }

        .global_reach img,
        .global_scaling img {
            width: 31rem;
            height: 22rem;
        }

        .global_reach div h2,
        .global_scaling div h2 {
            font-size: 1.5rem;
        }
        .global_reach div p,
        .global_scaling div p {
            font-size: 1rem;
        }

        .faq_section h2 {
            font-size: 1.5rem;
        }

        .faq_section .accordion {
            width: 28rem;
        }

        .accordion_trigger {
            font-size: 0.8rem;
            text-align: start;
        }

        .accordion_item .faq_answer {
            font-size: 0.7rem;
        }

        footer .global_connection div {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding: 1rem;
        }
        
        .global_connection h2 {
            text-align: center;
            font-size: 1.5rem;
            text-shadow: 0.5px 0.5px #0B0B0B;
        }
        
        .global_connection p {
            text-align: center;
            text-shadow: 0.5px 0.5px #0B0B0B;
        }

        .second_ftr_div .second_child {
            grid-template-columns: repeat(2, 1fr);
            gap: 2.5rem;
        }

        
    }

    @media screen and (max-width: 531px) {

        .hero_section > p:nth-child(1) {
            font-size: 0.5rem;
            padding: 0.5rem 1rem;
        }
        .hero_section h1 {
            font-size: 1.3rem;
            width: 20rem;
            line-height: 2.5rem;
        }
        
        .hero_section  .second_p {
            width: 20rem;
            font-size: 0.8rem;
            line-height: 1.5;
        }

        .hero_section .quick_buttons {
            gap: 1rem;
        }
        
        .quick_buttons button {
            width: max-content;
            height: 3rem;
            border-radius: 100vh;
            font-size: 0.8rem;
        }

        .map {
            display: block;
            width: 100%;
            height: 15rem;
        }

        .features_section .first_child {
            width: 20rem;
        }

        .features_section .first_child h2 {
            font-size: 1.3rem;
        }

        .features_section .first_child p {
            font-size: 0.8rem;
            width: 20rem;
        }

        .features_section .first_child button {
            font-size: 0.8rem;
            width: max-content;
        }

        .features_section .second_child {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            width: 100%;
            gap: 2rem;
        }        

        .features_section .second_child div h3 {
            font-size: 1rem;
            text-align: center;
        }

        .features_section .second_child div p {
            font-size: 0.8rem;
        }

        .global_reach div,
        .global_scaling div {
            width: 20rem;
        }

        .global_reach p:first-child,
        .global_scaling p:first-child {
            font-size: 0.5rem;
            padding: 0.5rem 1rem;
        }

        .global_reach img,
        .global_scaling img {
            width: 20rem;
            height: 11rem;
        }

        .global_reach div h2,
        .global_scaling div h2 {
            font-size: 1.2rem;
        }
        .global_reach div p,
        .global_scaling div p {
            font-size: 0.8rem;
        }

        .faq_section .first_child {
            font-size: 0.5rem;
            padding: 0.5rem 1rem;
        }

        .faq_section h2 {
            font-size: 1.2rem;
        }

        .faq_section .accordion {
            width: 20rem;
        }

        .accordion_item h3::after {
            width: 1.2rem;
            height: 1.2rem;
            right: 1.2rem;
        }

        .accordion_trigger {
            font-size: 0.7rem;
            text-align: start;
            font-weight: 500;
            padding: 0.8rem;
        }

        .accordion_item .faq_answer {
            font-size: 0.7rem;
            padding: 0.8rem;
        }

        footer .global_connection {
            top: -10rem;
        }
        
        .global_connection::after {
            width: 20rem;
            right: -5rem;
        }

        footer .global_connection div {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding: 1rem;
            background-color: unset;
        }
        
        .global_connection h2 {
            text-align: center;
            font-size: 1.2rem;
            text-shadow: 0.5px 0.5px #0B0B0B;
        }
        
        .global_connection p {
            font-size: 0.8rem;
            text-align: center;
            text-shadow: 0.5px 0.5px #0B0B0B;
        }
        
        .global_connection button {
            font-size: 0.8rem;
        }

        .second_ftr_div .first_child {
            width: 20rem;
        }

        .second_ftr_div .first_child .social_div {
            width: 20rem;
        }

        .second_ftr_div .first_child .email_div {
            width: 90%;
            margin: 0 5%;
        }
        
        .second_ftr_div .second_child div h4 {
            font-size: 0.9rem;
            color: #627EEA;
            font-weight: 400;
        }
        
        .second_ftr_div .second_child div ul li a {
            font-size: 0.8rem;
        }

        footer .third_ftr_div {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }

        .third_ftr_div .copyright {
            font-size: 0.5rem;
        }

        .third_ftr_div .terms {
            font-size: 0.5rem;
        }

    }
/*  */

/* animations on page load and scroll */

.bottom_to_top {
    animation: fromBottomToTop 1000ms ease-out;
}

.left_to_right {
    animation: fromLeftToRight 1000ms ease-out;
}

.right_to_left {
    animation: fromRightToLeft 1000ms ease-out;
}

@keyframes fromBottomToTop {
    from {
        transform: translateY(4rem);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes fromLeftToRight {
    from {
        transform: translateX(-3rem);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes fromRightToLeft {
    from {
        transform: translateX(3rem);
    }

    to {
        transform: translateX(0);
    }
}
/*  */